@page
@model Server.Pages.Affiliate.IndexModel
@{
}

<div class="hero">
    <div class="hero-content flex-col align-start w-full">
        <div class="overflow-auto whitespace-nowrap flex-row" style="width: 550px;">
            @foreach (var url in Model.Images)
            {
                <div class="relative inline-block m-2 group">
                    <img src="@url.Item2" class="inline-block" style="height: 200px;" alt="Image of event place"/>
                    <form method="post" asp-page-handler="DeleteImage" asp-route-pictureName="@url.Item1">
                        <button
                            type="submit"
                            class="child absolute invisible group-hover:visible btn btn-error top-0 left-0 right-0 bottom-0 m-auto w-20 inset-0"
                        >Borrar</button>
                    </form>
                </div>
            }
        </div>

        <button class="btn btn-primary" onclick="document.getElementById('upload-dialog').showModal()">Sube una imagen</button>
       
        <a asp-page="/Affiliate/Users">
            <button class="btn btn-secondary">Ver los usuarios que van a @Model.LocationName</button>
        </a>
        
        <a asp-page="/Affiliate/CustomOffers/Index">
            <button class="btn btn-secondary">Sus ofertas personalizadas</button>
        </a>

        <dialog id="upload-dialog" class="modal">
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadImage" class="modal-box flex flex-col">
                @Html.AntiForgeryToken()
                <h3 class="font-bold text-lg">Sube una imagen</h3>
                <input type="file" name="picture" required class="file-input file-input-bordered w-full max-w-xs self-center mt-5" />
                <div class="modal-action">
                    <button type="submit" class="btn btn-primary">Subir</button>
                    <button type="button" class="btn" onclick="document.getElementById('upload-dialog').close()">Cancelar</button>
                </div>
            </form>
        </dialog>

        <div class="mt-8 p-6 bg-base-100 rounded-lg shadow-md w-full">
            <h2 class="text-3xl font-bold mb-4">@Model.Place.Name</h2>
            <h3 class="text-xl font-semibold mb-2">Descripción</h3>
            <p class="mb-4">@Model.Place.Description</p>
            <h3 class="text-xl font-semibold mb-2">Lugar</h3>
            <p class="mb-4">@Model.LocationName</p>
            <h3 class="text-xl font-semibold mb-2">Rango de precio</h3>
            <p class="mb-4">@Model.Place.PriceRangeStart&euro; - @Model.Place.PriceRangeEnd&euro;</p>
            <h3 class="text-xl font-semibold mb-2">Edad minima</h3>
            @if (Model.Place.AgeRequirement != null)
            {
                <p class="mb-4">+@Model.Place.AgeRequirement</p>
            }
            else
            {
                <p class="mb-4">Sin edad minima</p>
            }
            <h3 class="text-xl font-semibold mb-2">Link de google maps</h3>
            @if (Model.Place.GoogleMapsLink != null)
            {
                <p class="mb-4">
                    <a href="@Model.Place.GoogleMapsLink">@Model.Place.GoogleMapsLink</a>
                </p>
            }
            else
            {
                <p class="mb-4">No especificado</p>
            }

            <a asp-page="/Affiliate/EditEventPlace">
                <button class="btn btn-primary btn-outline">Editar</button>
            </a>
        </div>

        <div class="mt-8 p-6 bg-base-100 rounded-lg shadow-md w-full">
            <!-- Would this create a dialogue for each offer? Yes. Sorry end user... Too lazy to build a separate api endpoint -->
            @foreach (var (_, i) in Model.Events)
            {
                <dialog id="image-upload-dialog-@i" class="modal">
                    <form method="post" enctype="multipart/form-data" asp-page-handler="UploadEventPicture" asp-route-eventId="@i" class="modal-box flex flex-col">
                        @Html.AntiForgeryToken()
                        <h3 class="font-bold text-lg">Sube una imagen</h3>
                        <input type="file" name="picture" required class="file-input file-input-bordered w-full max-w-xs self-center mt-5" />
                        <div class="modal-action">
                            <button type="submit" class="btn btn-primary">Subir</button>
                            <button type="button" class="btn" onclick="document.getElementById('image-upload-dialog-@i').close()">Cancelar</button>
                        </div>
                    </form>
                </dialog>
            }

            <h3 class="text-xl font-semibold mb-2">Eventos</h3>
            <button class="btn btn-primary" onclick="document.getElementById('event-create-dialog').showModal()">Crear evento</button>
            <table class="table w-full">
                <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Información</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var (e, i) in Model.Events)
                {
                <tr>
                    <td class="relative group">
                        @if (Model.EventPictures[i] != null)
                        {
                            <img src="@Model.EventPictures[i]" style="max-height: 120px;" class="relative left-1/2 -translate-x-1/2" alt="Image of offer"/>
                            <form method="post" asp-page-handler="DeleteEventPicture" asp-route-eventId="@i">
                                <button
                                    type="submit"
                                    class="child absolute invisible group-hover:visible btn btn-error top-0 left-0 right-0 bottom-0 m-auto inset-0 w-20">Borrar</button>
                            </form>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-outline absolute top-0 left-0 right-0 bottom-0 m-auto w-20 inset-0" onclick="document.getElementById('image-upload-dialog-@i').showModal()">Subir imagen</button>
                        }
                    </td>

                    <td>
                        <div>
                            <h4 class="font-bold text-lg">@e.Name</h4>
                            <p>@e.Time.ToShortDateString()</p>
                            <p>@e.Description</p>
                            <p>@Model.EventsOfferCount[i] Ofertas</p>
                        </div>
                    </td>

                    <td class="flex flex-row">
                        <a asp-page="/Affiliate/Event" asp-route-eventId="@i">
                            <button class="btn btn-primary btn-outline mr-2">
                                Manejar
                            </button>
                        </a>

                        <form method="post" asp-page-handler="DeleteEvent" asp-route-eventId="@i">
                            <button
                                type="submit"
                                class="btn btn-error btn-outline">Borrar</button>
                        </form>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>

        <dialog id="event-create-dialog" class="modal">
            <form method="post" enctype="multipart/form-data" asp-page-handler="CreateEvent" class="modal-box flex flex-col">
                <span asp-validation-for="CreateEventInput.Name" class="text-danger"></span>
                <label class="input input-bordered flex items-center gap-2 mb-3">
                    <input asp-for="CreateEventInput.Name" class="grow" placeholder="Nombre (obligatorio)" required />
                </label>

                <label class="input input-bordered flex items-center gap-2 mb-3">
                    <input asp-for="CreateEventInput.Time" class="grow" placeholder="Fecha (obligatorio)" type="date" />
                </label>
                
                <label class="input input-bordered flex items-center gap-2 mb-3">
                    <input asp-for="CreateEventInput.Description" class="grow" placeholder="Descripción" />
                </label>

                <div class="modal-action">
                    <button type="submit" class="btn btn-primary">Crear</button>
                    <button type="button" class="btn" onclick="document.getElementById('event-create-dialog').close()">Cancelar</button>
                </div>
            </form>
        </dialog>
    </div>
</div>

@section Scripts
{
    <script>
        var offerId = null;
        function openOfferDeleteDialog(id) {
            offerId = id;
            document.getElementById('offer-delete-dialog').showModal();
        }
    </script>
}
