@page
@model Server.Pages.Affiliate.IndexModel
@{
}

<div class="hero">
    <div class="hero-content flex-col align-start w-96">
        <a asp-page="/Affiliate/EditEventPlace">
            <button class="btn btn-primary">Editar</button>
        </a>

        <div class="overflow-auto whitespace-nowrap flex-row" style="width: 550px;">
            @foreach (var url in Model.Images)
            {
                <div class="relative inline-block m-2 group">
                    <img src="@url.Item2" class="inline-block" style="height: 200px;" alt="Image of event place"/>
                    <form method="post" asp-page-handler="DeleteImage" asp-route-pictureName="@url.Item1">
                        <button
                            type="submit"
                            class="child absolute invisible group-hover:visible btn btn-error top-0 left-0 right-0 bottom-0 m-auto w-20 inset-0"
                        >Borrar</button>
                    </form>
                </div>
            }
        </div>

        <button class="btn btn-primary" onclick="document.getElementById('upload-dialog').showModal()">Sube una imagen</button>

        <dialog id="upload-dialog" class="modal">
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadImage" class="modal-box flex flex-col">
                @Html.AntiForgeryToken()
                <h3 class="font-bold text-lg">Sube una imagen</h3>
                <input type="file" name="picture" required class="file-input file-input-bordered w-full max-w-xs self-center mt-5" />
                <div class="modal-action">
                    <button type="submit" class="btn btn-primary">Subir</button>
                    <button type="button" class="btn" onclick="document.getElementById('upload-dialog').close()">Cancelar</button>
                </div>
            </form>
        </dialog>

        <h2 class="text-2xl">@Model.Place.Name</h2>
        <p>@Model.Place.Description</p>
        <p>@Model.Place.Location</p>
        <p>@Model.Place.PriceRangeStart - @Model.Place.PriceRangeEnd</p>
    </div>
</div>