@page
@model Server.Pages.Admin.UserStats

@{ }

<div class="hero">
    <div class="hero-content flex-col">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <p>Users: @Model.Users</p>
                <p>Today: @Model.UsersCreatedToday</p>
                <p>Users w/ notifications: @Model.Notifs</p>
                
                <p>Males: @Model.Males</p>
                <p>Females: @Model.Females</p>
                
                <p>Unspecified gender: @Model.Unspecified</p>
                <p>Active events: @Model.ActiveEvent</p>
            </div>
        </div>
    </div>
</div>
