@page
@inject LikeTracker tracker
@using Server.Services.Concrete
@model Server.Pages.Admin.UserStats

@{ }

<div class="hero">
    <div class="hero-content flex-col">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <p>Users: @Model.Users</p>
                <p>Today: @Model.UsersCreatedToday</p>
                <p>Users w/ notifications: @Model.Notifs</p>
                
                <p>Males: @Model.Males</p>
                <p>Females: @Model.Females</p>
                
                <p>Unspecified gender: @Model.Unspecified</p>
                <p>Active events: @Model.ActiveEvent</p>
                
                <p>Exits: @Model.Exits</p>
                <p>Most exits by @Model.MaxExits.Item1: @Model.MaxExits.Item2</p>
                
                <p>Messages: @Model.Messages</p>
                <p>Messages today: @Model.MessagesToday</p>
                <p>ChatHub connections: @Model.ChatHubConnections</p>
                
                <p>Top messengers: @Model.Top5Messagers</p>
                
                <p>Like stats:</p>
                <p>@tracker.GetStats()</p>
            </div>
        </div>
    </div>
</div>
