@page "{pageId:int}"
@model Server.Pages.Admin.EventPlaces.IndexModel
@{
}

<div class="hero">
    <div class="hero-content">
        <div class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body items-center text-center">
                <h2 class="card-title">Event Places</h2>

                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Price Range</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var place in Model.EventPlaces)
                        {
                            <tr>
                                <td>@place.Name</td>
                                <td>@place.Description</td>
                                <td>@place.Location</td>
                                <td>@place.PriceRangeBegin - @place.PriceRangeEnd</td>
                                <td>
                                    <a asp-page="/Admin/EventPlaces/Edit" asp-route-id="@place.Id" class="btn btn-primary">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
